* {
  box-sizing: border-box;
  background-color: darkgray;
  background-image: url(.pictures/space.png);
}

main {
  display: block;
  text-align: center;
}

img {
  width: 80%;
}

#description {
  border: solid 1px #000000;
  padding: 0.5em;
}
